{% extends "filters/filter_layout.html" %}
{% load dbcat_extras %}
{% block filter_content %}
<label for="{{filter.code}}_from" style="display:inline;margin-right:5px;">From:</label>
<input type="text"
       id="{{filter.code}}_from"
       name="{{filter.code}}_from"
       value="{{ filter.code|add:'_from'|request_get_param:request|default_if_none:'' }}"
       placeholder="{{ filter.min }}"
       class="input-mini"/>
<label for="{{filter.code}}_to" style="display:inline;margin-left:5px;margin-right:5px;">To:</label>
<input type="text"
       id="{{filter.code}}_to"
       name="{{filter.code}}_to"
       value="{{ filter.code|add:'_to'|request_get_param:request|default_if_none:'' }}"
       placeholder="{{ filter.max }}"
       class="input-mini"/>
{% endblock %}