{% load dbcat_extras %}
{% if param.options|count_opts_more_then_x_grade:10 > 1 %}
     <ul>
     {% setvar "Y" as multiple %}
     {% setvar "<li>" as li_open %}
     {% setvar "</li>" as li_close %}
{% else %}
     {% setvar "" as multiple %}
     {% setvar "" as li_open %}
     {% setvar "" as li_close %}
{% endif %}

{% for option in param.options %}
    {{ li_open|safe|default:"" }}
    {% if option.value < 10 %}
        <!--Do nothing-->
    {% elif  option.value < 30 %}
        <span style="color:#c0c0c0;">{{ option.option.name }}</span>
    {% elif  option.value < 50 %}
        <span style="color:#959595;">{{ option.option.name }}</span>
    {% elif  option.value < 70 %}
        <span style="color:#707070;">{{ option.option.name }}</span>
    {% elif  option.value < 90 %}
        <span style="color:#404040;">{{ option.option.name }}</span>
    {% else %}
        <span style="color:#000000;">{{ option.option.name }}</span>
    {% endif %}
    {{ li_close|safe|default:"" }}
{% endfor %}

{% if multiple %}
     </ul>
{% endif %}
