{% load dbcat_extras %}
{% block filter_content %}
<select id="{{filter.code}}" name="{{filter.code}}" style="width:100%">
    {% if not filter.required %}
        {% if filter.code|request_get_param:request %}
            <option></option>
        {% else %}
            <option selected="selected"></option>
        {% endif %}
    {% endif %}
    {% for option in filter.selectoption_set.all %}
        {% ifequal filter.code|request_get_param:request option.code %}
            <option value="{{option.code}}" selected="selected">{{option.name}}</option>
        {% else %}
            <option value="{{option.code}}">{{option.name}}</option>
        {% endifequal %}
    {% endfor %}
</select>
{% endblock %}