{% extends "layout.html" %}
{% block content %}
<select id="filter-type" name="filter-type" style="display:none">
    {% for filter_type in filter_types %}
    <option name="filter_type">{{ filter_type }}</option>
    {% endfor %}
</select>

{% for filter_type in filter_types %}
<div id="{{ filter_type }}_form" class="filter_add_form">
    <form method="POST">
        {% include 'filters/'+filter_type+'_edit.html' %}
        <input type="submit"/>
    </form>
</div>
{% endfor %}

{% endblock %}

{% block script %}
<script>
$('.filter_add_form').css('display', 'none');

$('#filter-type').css('display', 'block');
$('#filter-type').prop('selectedIndex', -1);
$( '#filter-type' ).change(function() {
    val=$('#filter-type').val()
    $('.filter_add_form').css('display', 'none');
    $('#'+val+'_form').css('display', 'block');;
});


</script>
{% endblock %}