{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="well">
                <h2>Что это?</h2>
                DBCat - это каталог СУБД с фильтрами.
                <h2>Зачем это нужно?</h2>
                DBCat помогает сузить круг поиска базы с нужными свойствами. Фильтры могут показаться чресчур
                примитивными,
                но важно было не усложнять. Если какой-то фильтр вдруг вызовет серьёзные нарекания, можно сообщить об
                этом
                через форму обратной связи.
                <h2>Зачем я это сделал?</h2>
                Несколько раз такой сервис был нужен мне самому. Не найдя существующего я решил написать его сам.
                <h2>Чем можно помочь?</h2>
                Можно сообщить о неточности или сделать описание какой-нибудь ещё СУБД. Для всего этого в меню есть
                форма обратной
                связи.
                {% endblock %}
            </div>
        </div>
    </div>
</div>