<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dbcat.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBCat</title>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">DbCat</a>
    </div>
</div>
{% block content %} {% endblock %}
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/readmore.min.js"></script>
{% block script %} {% endblock %}
</body>
</html>