{% extends "filters/filter_layout.html" %}
{% block filter_content %}
    <label for="{{filter.id()}}_from" style="display:inline;margin-right:5px;">From:</label>
    <input type="text" id="{{filter.id()}}_from" name="{{filter.id()}}_from" placeholder="{{ filter.min }}" class="input-mini"/>
    <label for="{{filter.id()}}_to" style="display:inline;margin-left:5px;margin-right:5px;">To:</label>
    <input type="text" id="{{filter.id()}}_to" name="{{filter.id()}}_to" placeholder="{{ filter.max }}" class="input-mini"/>
{% endblock %}